<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhuyue.permissioncheck">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.CheckActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <!--调取相机-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--打电话-->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--读取写入日程信息-->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <!--读取联系人-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!--写入联系人-->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <!--录音权限-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission-sdk-23 android:name="android.permission.READ_CALENDAR" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_CALENDAR" />

</manifest>